*.log
**/*.log
**/*.init.h
**/*.config.h
*/*.caffemodel
**/__pycache__/
**.pyc
.vscode/
**.caffemodel
**.jou
**.onnx
**.str

**/*_prj/
_prj/

data/
**.bin
**.csv
**.yaml
**.yml
rpt/

runs/**/logs/
runs/**.json
runs/**/*_param.hpp

outputs/
data/inputs/
data/weights/

test/modules/**/tb/*_param.hpp

test/layers/**/src/*_layer.cpp
test/layers/**/include/*
test/layers/**/tb/*_param.hpp

test/networks/**/partition_*

host/.metadata
host/.sdk
host/fpgaconvnet_bsp/ps7_cortexa9_0

onnx/

**REPORT.md

include/system.hpp

examples/**/outputs/
examples/**/partition_*/

test/partitions/**/outputs/
test/partitions/**/partition_*/
yaml-cpp-release-0.5.3/*

sd_card/
partition_*/
